@model MedicineCreateRequest
@{
    ViewData["Title"] = "Create";
}
<style>
    .img-box {
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        position: relative;
    }

    .remove-img-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: red;
        font-weight: bold;
        font-size: 18px;
        background-color: white;
        border: 1px solid red;
        padding: 5px;
        border-radius: 50%;
    }
</style>
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Medicines</h1>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form class="user" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="title1Input">Name</label>
                        <input asp-for="Name" class="form-control" id="title1Input" placeholder=" " style="background-color:white;">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="date">Desc</label>
                        <input asp-for="Desc" class="form-control" id="date" placeholder=" " style="background-color:white;">
                        <span class="text-danger" asp-validation-for="Desc"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="venue">Price</label>
                    <input asp-for="Price" class="form-control" id="venue" placeholder=" "style="background-color:white;" />
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
               
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="CategoryId">CategoryId</label>
                        <select asp-for="CategoryId" class="form-control" id="CategoryId" style="background-color:white;" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))"></select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="imgInput">ImageFile</label>
                    <input asp-for="Files" class="form-control imgInput" placeholder=" " multiple style="background-color:white;">
                    <div class="preview-box mt-2"></div>
                    <span class="text-danger" asp-validation-for="Files"></span>
                </div>
                <button class="btn btn-primary" type="submit">Create Medicine</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptsPartial")

    <script>$(document).ready(function () {
            $(".imgInput").change(function (e) {
                let box = $(this).parent().find(".preview-box");
                $(box).empty();

                Array.from(e.target.files).forEach((file, index) => {
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => {
                        let imgBox = document.createElement("div");
                        imgBox.classList.add("img-box", "mt-3", "mr-3");
                        imgBox.style.display = "inline-block";
                        imgBox.style.position = "relative";

                        let removeIcon = document.createElement("span");
                        removeIcon.classList.add("remove-img-icon");
                        removeIcon.setAttribute("data-index", index);
                        removeIcon.textContent = "x";
                        removeIcon.style.position = "absolute";
                        removeIcon.style.top = "5px";
                        removeIcon.style.right = "5px";
                        removeIcon.style.background = "red";
                        removeIcon.style.color = "white";
                        removeIcon.style.cursor = "pointer";

                        let img = document.createElement("img");
                        img.style.width = "200px";
                        img.classList.add("previewImg");
                        img.setAttribute("src", reader.result);

                        imgBox.appendChild(removeIcon);
                        imgBox.appendChild(img);
                        box.append(imgBox);


                        removeIcon.addEventListener("click", function () {
                            let imgBox = this.closest(".img-box");
                            imgBox.remove();


                            let dt = new DataTransfer();
                            let input = document.querySelector('.imgInput');
                            let { files } = input;

                            for (let i = 0; i < files.length; i++) {
                                if (i !== index) {
                                    dt.items.add(files[i]);
                                }
                            }
                            input.files = dt.files;
                        });
                    }
                });
            });
        });</script>
}
