@model MedicineEditRequest
@{
    ViewData["Title"] = "Edit Medicine";
}

<style>
    .img-box {
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        position: relative;
    }

    .remove-img-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 16px;
        background-color: red;
        border: 1px solid white;
        padding: 3px;
        border-radius: 50%;
    }

    .img-box img {
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        border-radius: 0.25rem;
        background-color: #f8f9fa;
    }

        .form-control:focus {
            border-color: #4e73df;
            box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
        }
</style>

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Medicine</h1>
        <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Edit Medicine Details</h6>
                </div>
                <div class="card-body">
                    <form class="user" asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="Name">
                                    <i class="fas fa-prescription-bottle-alt"></i> Name
                                </label>
                                <input asp-for="Name" class="form-control" placeholder="Enter medicine name" style="background-color:white;" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="Desc">
                                    <i class="fas fa-align-left"></i> Description
                                </label>
                                <textarea asp-for="Desc" class="form-control" placeholder="Enter description" rows="3" style="background-color:white;"></textarea>
                                <span asp-validation-for="Desc" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Price">
                                <i class="fas fa-dollar-sign"></i> Price
                            </label>
                            <input asp-for="Price" class="form-control" placeholder="Enter price" style="background-color:white;"/>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="CategoryId">
                                    <i class="fas fa-tags"></i> Category
                                </label>
                                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" style="background-color:white;"></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="imgInput">
                                <i class="fas fa-images"></i> Image Files
                            </label>
                            <input type="file" name="Files" class="form-control imgInput" multiple accept="image/*" />
                            <span asp-validation-for="Files" class="text-danger"></span>
                            <div class="preview-box mt-3"></div>
                        </div>

                        @if (ViewBag.Pictures != null)
                        {
                            <div class="existing-images mt-4">
                                <h6>Existing Images:</h6>
                                @foreach (PictureResponse item in ViewBag.Pictures)
                                {
                                    <div class="img-box mt-4 mr-3" style="display:inline-block;position:relative">
                                        <span class="remove-img-icon" data-id="@item.Id">&times;</span>
                                        <input type="hidden" name="ExistPictureIds" value="@item.Id" />
                                        <img width="200" src="@item.Url" />
                                    </div>
                                }
                            </div>
                        }

                        <button type="submit" class="btn btn-primary btn-block mt-4">
                            <i class="fas fa-save"></i> Save Changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>$(document).ready(function () {
            $(".imgInput").change(function (e) {
                let box = $(this).parent().find(".preview-box");
                box.empty();

                const files = Array.from(e.target.files);
                const dt = new DataTransfer();

                files.forEach((file, index) => {
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => {
                        let imgBox = $("<div>").addClass("img-box mt-3 mr-3");
                        let removeIcon = $("<span>").addClass("remove-img-icon").attr("data-index", index).html("&times;");
                        let img = $("<img>").addClass("previewImg img-thumbnail").attr("src", reader.result).css("width", "200px");

                        imgBox.append(removeIcon, img);
                        box.append(imgBox);

                        removeIcon.on("click", function () {
                            let imgIndex = $(this).data("index");
                            files.splice(imgIndex, 1);
                            imgBox.remove();

                            files.forEach((file, i) => {
                                dt.items.add(file);
                            });

                            $(".imgInput")[0].files = dt.files;
                        });
                    };
                });
            });

            // Remove existing image from the preview
            $(".existing-images .remove-img-icon").click(function () {
                let imgBox = $(this).closest(".img-box");
                let imgId = $(this).data("id");

                imgBox.remove();
                $("input[value='" + imgId + "']").remove();
            });
        });</script>
}
