@model SliderEditRequest
@{
    ViewData["Title"] = "Edit Slider";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Slider</h1>
        <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Slider Details</h6>
                </div>
                <div class="card-body">
                    <form class="user" asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-group">
                            <label for="MainTitleInput">
                                <i class="fas fa-heading"></i> Title
                            </label>
                            <input asp-for="MainTitle" class="form-control" id="MainTitleInput" placeholder="Enter slider title" style="background-color:white;">
                            <span class="text-danger" asp-validation-for="MainTitle"></span>
                        </div>

                        <div class="form-group">
                            <label for="SubTitle1Input">
                                <i class="fas fa-subscript"></i> Subtitle 1
                            </label>
                            <input asp-for="SubTitle1" class="form-control" id="SubTitle1Input" placeholder="Enter subtitle 1" style="background-color:white;">
                            <span class="text-danger" asp-validation-for="SubTitle1"></span>
                        </div>

                        <div class="form-group">
                            <label for="SubTitle2Input">
                                <i class="fas fa-subscript"></i> Subtitle 2
                            </label>
                            <input asp-for="SubTitle2" class="form-control" id="SubTitle2Input" placeholder="Enter subtitle 2" style="background-color:white;">
                            <span class="text-danger" asp-validation-for="SubTitle2"></span>
                        </div>

                        <div class="form-group">
                            <label for="OrderInput">
                                <i class="fas fa-sort-numeric-up"></i> Order
                            </label>
                            <input asp-for="Order" class="form-control" id="OrderInput" placeholder="Enter order number" style="background-color:white;">
                            <span class="text-danger" asp-validation-for="Order"></span>
                        </div>

                        <div class="form-group">
                            <label for="FileInput">
                                <i class="fas fa-image"></i> Slider Image
                            </label>
                            <input asp-for="File" class="form-control imgInput" type="file" accept="image/*" id="FileInput" style="background-color:white;">
                            <span class="text-danger" asp-validation-for="File"></span>
                            <div class="preview-box text-center mt-3">
                                <img width="200" class="previewImg img-thumbnail" src="@Model.FileUrl" alt="Current slider image" />
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block mt-4" type="submit">
                            <i class="fas fa-save"></i> Save Changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptsPartial")

    <script>$(document).ready(function () {
            $(".imgInput").change(function (e) {
                let box = $(this).closest('form').find(".preview-box");
                $(box).empty();

                if (e.target.files.length > 0) {
                    let reader = new FileReader();
                    reader.readAsDataURL(e.target.files[0]);
                    reader.onload = () => {
                        let img = $("<img>").addClass("previewImg img-thumbnail").css("width", "200px");
                        img.attr("src", reader.result);
                        $(box).append(img);
                    }
                }
            });
        });</script>
}
