@model AdminCreateRequest
@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Category Admin</h1>

    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">

            <form method="post" asp-action="admincreatebys">
                <div class="form-group">
                    <input asp-for="UserName" class="form-control form-control-user"
                           placeholder="Enter UserName.." style="background-color:white;">
                    <span class="text-danger" asp-validation-for="UserName" ></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control form-control-user"
                           placeholder="Password..." style="background-color:white;">
                    <span class="text-danger" asp-validation-for="Password" ></span>
                </div>
                <div class="button-box">

                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <button type="submit" class="btn btn-primary">Create Admin</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptsPartial");
}


